
  
 .overlay__customers {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__customers.active {
	visibility: visible;
}

.popup__customers {
	background-color: var(--sidebar-color);
	border-radius: 5px;
	padding: 20px;
	width: 70%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__customers .btn-cerrar-popup__customers {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__customers.active {	transform: scale(1); opacity: 1; }


.container__create_customers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}